[Desktop Entry]
Version=1.0
Type=Application
Name=Editar DMR2M17
Comment=
Exec=lxterminal --geometry=93x52 -e sh editar_MMDVMDMR2M17.sh
Icon=/home/pi/V105/Editar_repeater.png
Path=/home/pi/V105
Terminal=false
StartupNotify=false
